<!-- Este archivo contiene el modelo básico para otros archivos -->
<!-- Flask suele trabajar con el modelo de templates de Jinja2 -->
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask_template</title>
  </head>
  <body>
    <header>
      <h1>Flask_template</h1>
    </header>
    {% block main %} {% endblock %}
    <footer>
      <h3>Flask_template</h3>
      <p>Autor <a href="https://github.com/Jhoan5/Flask_template">Jhoan5</a></p>
    </footer>
  </body>
</html>
